node-red/Note-Red Code
[
    {
        "id": "4689550ed69adeda",
        "type": "mqtt out",
        "z": "4caf6af126168709",
        "name": "",
        "topic": "team_ADP/iot2025/predict/48h",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7c2c95d8b9b5f7f9",
        "x": 870,
        "y": 540,
        "wires": []
    },
    {
        "id": "316edc65170a3270",
        "type": "mqtt out",
        "z": "4caf6af126168709",
        "name": "",
        "topic": "team_ADP/iot2025/alarms",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7c2c95d8b9b5f7f9",
        "x": 1220,
        "y": 80,
        "wires": []
    },
    {
        "id": "9c57fa6bb7e7530e",
        "type": "mqtt in",
        "z": "4caf6af126168709",
        "name": "",
        "topic": "team_ADP/iot2025/live",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7c2c95d8b9b5f7f9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 860,
        "y": 360,
        "wires": [
            [
                "62654fb72394af10",
                "16ba671c324dc2b0",
                "acc31906b4e3814b"
            ]
        ]
    },
    {
        "id": "acc31906b4e3814b",
        "type": "debug",
        "z": "4caf6af126168709",
        "name": "Live Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 300,
        "wires": []
    },
    {
        "id": "inject_5min",
        "type": "inject",
        "z": "4caf6af126168709",
        "name": "Every 5 min",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "http_weather"
            ]
        ]
    },
    {
        "id": "http_weather",
        "type": "http request",
        "z": "4caf6af126168709",
        "name": "OpenWeather One Call",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Auckland,nz&APPID=332a0c7ee848395e7b6bf12d1527eccf&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 240,
        "wires": [
            [
                "fn_normalise"
            ]
        ]
    },
    {
        "id": "fn_normalise",
        "type": "function",
        "z": "4caf6af126168709",
        "name": "Normalise ➜ MQTT payload",
        "func": "// Pull out the parts you care about from /data/2.5/weather\nconst main = msg.payload.main;     // temp, pressure, humidity\nconst clouds = msg.payload.clouds;   // optional extra\nconst wind = msg.payload.wind;     //   \"\n\nmsg.payload = {\n  timestamp: (msg.payload.dt + msg.payload.timezone) * 1000,  // local epoch-ms\n  device: env.get(\"DEVICE\") || \"0001\",\n  source: \"openweather_2.5\",\n  pressure_hPa: main.pressure,\n  temp_C: main.temp,\n  temp_min_C: main.temp_min,\n  temp_max_C: main.temp_max,\n  humidity: main.humidity,\n  sea_level: main.sea_level,\n  grnd_level: main.grnd_level,\n  clouds_percent: clouds?.all,\n  wind_m_s: wind?.speed,\n  wind_deg: wind?.deg,\n  wind_gust: wind?.gust\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "debug_out",
                "ab97908b8af9f887",
                "6db27f5af426b04b"
            ]
        ]
    },
    {
        "id": "debug_out",
        "type": "debug",
        "z": "4caf6af126168709",
        "name": "see OpenWeather API JSON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "ab97908b8af9f887",
        "type": "mqtt out",
        "z": "4caf6af126168709",
        "name": "",
        "topic": "team_ADP/iot2025/live",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7c2c95d8b9b5f7f9",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "62654fb72394af10",
        "type": "ui_gauge",
        "z": "4caf6af126168709",
        "name": "",
        "group": "a4665663c04cc0da",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature (°C)",
        "label": "",
        "format": "{{temp_C | number:1}} °C",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 420,
        "wires": []
    },
    {
        "id": "16ba671c324dc2b0",
        "type": "influxdb out",
        "z": "4caf6af126168709",
        "influxdb": "cf5bd18836d913e1",
        "name": "",
        "measurement": "auckland",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Paul",
        "bucket": "weather_live",
        "x": 1270,
        "y": 360,
        "wires": []
    },
    {
        "id": "ceffd65e962fa1ac",
        "type": "inject",
        "z": "4caf6af126168709",
        "name": "Every 1h",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "c60bf01480d12599"
            ]
        ]
    },
    {
        "id": "c60bf01480d12599",
        "type": "http request",
        "z": "4caf6af126168709",
        "name": "GET Predict API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/predict?hours_to_forecast=48",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 340,
        "y": 540,
        "wires": [
            [
                "5b7852dae621274f"
            ]
        ]
    },
    {
        "id": "5b7852dae621274f",
        "type": "function",
        "z": "4caf6af126168709",
        "name": "Predict Parser",
        "func": "if (msg.payload && Array.isArray(msg.payload.forecast)) {\n    msg.payload = msg.payload.forecast;\n} else {\n    node.warn(\"Forecast data not found or not in expected array format from API.\");\n    // msg.payload = []; // Send empty array or null to indicate error\n    return null; // Or don't send anything if there's an error\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 540,
        "wires": [
            [
                "4689550ed69adeda"
            ]
        ]
    },
    {
        "id": "82a31f6ab61c6d1e",
        "type": "mqtt in",
        "z": "4caf6af126168709",
        "name": "",
        "topic": "team_ADP/iot2025/predict/48h",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7c2c95d8b9b5f7f9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 870,
        "y": 620,
        "wires": [
            [
                "3ff6f5004ccf030a"
            ]
        ]
    },
    {
        "id": "3ff6f5004ccf030a",
        "type": "debug",
        "z": "4caf6af126168709",
        "name": "Predict Temp 48h Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 620,
        "wires": []
    },
    {
        "id": "6db27f5af426b04b",
        "type": "function",
        "z": "4caf6af126168709",
        "name": "Pressure Drop Detector",
        "func": "// --- Configuration for Pressure Drop Alarm ---\nconst PRESSURE_FIELD_PATH = \"payload.pressure_hPa\"; // Path to pressure in msg.payload\nconst SIGNIFICANT_DROP_HPA = 2; // How much pressure must drop (e.g., 2 hPa)\nconst LOOKBACK_WINDOW_MINUTES = 60; // How far back to compare (e.g., 60 minutes = 1 hour)\nconst HISTORY_MAX_AGE_MINUTES = LOOKBACK_WINDOW_MINUTES + 30; // Keep a bit more history (90 mins)\n// --- End Configuration ---\n\nlet currentPressure;\ntry {\n    // Attempt to get the pressure value using the defined path\n    // This handles nested objects like msg.payload.main.pressure\n    currentPressure = PRESSURE_FIELD_PATH.split('.').reduce((o, k) => (o || {})[k], msg);\n    if (typeof currentPressure !== 'number') {\n        node.warn(`Pressure value at path '${PRESSURE_FIELD_PATH}' is not a number: ${currentPressure}`);\n        return null; // Stop if no valid pressure data\n    }\n} catch (e) {\n    node.warn(`Error accessing pressure value at path '${PRESSURE_FIELD_PATH}': ${e.message}`);\n    return null; // Stop if path is invalid\n}\n\nconst currentTime = new Date().getTime(); // Current time in milliseconds\n\n// Get or initialize pressure history from flow context\nlet pressureHistory = flow.get(\"pressureHistory\") || [];\n\n// Add current reading to history\npressureHistory.push({\n    time: currentTime,\n    pressure: currentPressure\n});\n\n// Prune old readings from history to keep it manageable\nconst historyMaxAgeMs = HISTORY_MAX_AGE_MINUTES * 60 * 1000;\npressureHistory = pressureHistory.filter(reading => (currentTime - reading.time) < historyMaxAgeMs);\n\n// Save updated history back to flow context\nflow.set(\"pressureHistory\", pressureHistory);\n\n// Check for a significant drop\n// We need at least one historical point to compare against from the lookback window\nconst lookbackWindowMs = LOOKBACK_WINDOW_MINUTES * 60 * 1000;\nlet alarmTriggered = false;\nlet comparisonPoint = null;\n\n// Find a suitable point in history to compare against (approx. LOOKBACK_WINDOW_MINUTES ago)\n// We'll look for the oldest point that is still within our effective comparison start time\nconst comparisonStartTime = currentTime - lookbackWindowMs;\n\n// Find the earliest reading that is still within the start of our lookback window.\n// Or, find a reading that is *closest* to LOOKBACK_WINDOW_MINUTES ago.\n// For simplicity, let's find any point that is older than (currentTime - lookbackWindowMs)\n// and check the drop from the *oldest such point* or a specific point.\n\n// Let's find a point that is roughly LOOKBACK_WINDOW_MINUTES ago or older but within our history.\n// We are looking for a point that is (currentTime - lookbackWindowMs) +/- a small margin,\n// or simply the oldest point within the history that is still relevant for the window.\n\n// Iterate backwards from the second to last point (most recent historical)\n// to find a point that's roughly LOOKBACK_WINDOW_MINUTES old.\n// A simpler way for now: Check against the oldest point in our history that is at least\n// (LOOKBACK_WINDOW_MINUTES - some_tolerance) old.\n\n// For this example, let's check if there's any point in the history (within the lookback window)\n// from which the pressure has dropped significantly.\n\nfor (let i = 0; i < pressureHistory.length - 1; i++) { // -1 because current reading is the last one\n    const pastReading = pressureHistory[i];\n    // Check if this pastReading is within our defined lookback window from the current time\n    if ((currentTime - pastReading.time) <= lookbackWindowMs && (currentTime - pastReading.time) > 0) {\n        // This ensures we are looking at points within the window, not the current point itself\n        const pressureChange = pastReading.pressure - currentPressure;\n        if (pressureChange >= SIGNIFICANT_DROP_HPA) {\n            alarmTriggered = true;\n            comparisonPoint = pastReading;\n            node.log(`Pressure drop detected! Current: ${currentPressure} hPa, Past (${new Date(comparisonPoint.time).toLocaleTimeString()}): ${comparisonPoint.pressure} hPa, Drop: ${pressureChange.toFixed(2)} hPa`);\n            break; // Found a significant drop, no need to check further back for this trigger\n        }\n    }\n}\n\n\nif (alarmTriggered && comparisonPoint) {\n    const alarmMsg = {\n        payload: {\n            alarm_type: \"pressure_drop\",\n            message: `Significant pressure drop of ${(comparisonPoint.pressure - currentPressure).toFixed(2)} hPa detected over the last ~${LOOKBACK_WINDOW_MINUTES} minutes.`,\n            current_pressure_hPa: currentPressure,\n            previous_pressure_hPa: comparisonPoint.pressure, // The specific point that triggered the comparison\n            previous_pressure_time: new Date(comparisonPoint.time).toISOString(),\n            drop_hPa: parseFloat((comparisonPoint.pressure - currentPressure).toFixed(2)),\n            detected_at: new Date(currentTime).toISOString()\n        },\n        // You can set a specific topic here if needed, or let the MQTT out node handle it\n        // topic: \"team_ADP/iot2025/alarms/pressure_drop\" \n    };\n    // To avoid repeated alarms for the same ongoing drop, you might want to add a cooldown logic\n    // e.g., set a flow context variable like flow.set(\"pressure_alarm_active_until\", currentTime + COOLDOWN_PERIOD_MS);\n    // and check this before sending a new alarm. For now, it sends an alarm each time condition is met.\n    return alarmMsg;\n}\n\nreturn null; // No alarm, send nothing\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 80,
        "wires": [
            [
                "316edc65170a3270"
            ]
        ]
    },
    {
        "id": "e9088c94917a8c52",
        "type": "mqtt in",
        "z": "4caf6af126168709",
        "name": "",
        "topic": "team_ADP/iot2025/alarms",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7c2c95d8b9b5f7f9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1210,
        "y": 160,
        "wires": [
            [
                "d4ed8d1cbdd10ffa"
            ]
        ]
    },
    {
        "id": "d4ed8d1cbdd10ffa",
        "type": "debug",
        "z": "4caf6af126168709",
        "name": "Pressure Alarm Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 160,
        "wires": []
    },
    {
        "id": "7c2c95d8b9b5f7f9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a4665663c04cc0da",
        "type": "ui_group",
        "name": "Live Data",
        "tab": "f19a65f3851d73b8",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf5bd18836d913e1",
        "type": "influxdb",
        "hostname": "https://us-east-1-1.aws.cloud2.influxdata.com",
        "port": 8086,
        "protocol": "http",
        "database": "weather_live",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "f19a65f3851d73b8",
        "type": "ui_tab",
        "name": "Weather",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
